<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include layout%>
    <div class="container">
          <h1>Product</h1>
          <p>welcome to product page</p>
          <a href="/">Home</a>
    </div>

  </body>
</html>