<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include layout%>
    <% var getname = JSON.parse(JSON.stringify(Object.values(datas))).map(function(data) { return data.FirstName; }) %>
    <% var getage = Object.values(datas).map(function(data) { return data.Age; }) %>
    <%- include charttest1%>      
    </div>

   
</body>
</html>